body {
  margin: 0 auto;
  background-color: #FFF;
}

.header {
  background-color: #006325;
  border-bottom: 4px solid #C79957;
  position: absolute;
  position: fixed;
  width: 100%;
  text-align: center;
}

.link {
  font-family: Raleway;
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 15px;
}

.link:hover {
  color: #C79957;
}
