body {
  margin: 0 auto;
  background-color: #FFF;
}

.container {
  display: flex;
  font-family: Raleway;
  font-size: 11px;
}

.left {
  text-align: left;
  justify-content: left;
  padding-left: 180px;
}

.right {
  text-align: right;
  justify-content: right;
}

.navigation {
  list-style: none;
  margin: 0;
  background-color: #006325;
  display: flex;
  border-bottom: 4px solid #C79957;
}
